#dashboard {
  color: #cfd2da;
}
.text-light-2 {
  color: #cfd2da;
}

.data-div {
  padding-left: 0 !important;
}

@media (max-width: 576px) {
  .data-div {
    padding-left: 15px !important;
  }
}
@media (max-width: 768px) {
  .data-div {
    padding-left: 15px !important;
  }
}